@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ponomar&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container__main {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/frontend/vienna-reyes-qCrKTET_09o-unsplash.jpg") no-repeat;
  background-size: cover;
}

.container__card {
  width: 60%;
  height: 95%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  background-color: white;
  overflow: hidden;
}
.header__card {
  height: 15%;
  width: 100%;
  /* background-color: #35a369; */
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  border-radius: 15px 15px 0px 0px;
  color: aliceblue;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
  
}
.header__card h1 {
  font-size: 38px;
  font-weight: 600;
  font-family: "Ponomar", system-ui;
}

.header__card p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.search__input {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 20px;

}
.search__input > input {
  width: 600px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  font-size: 18px;
  font-family: "Montserrat",sans-serif;
}
.search__button {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  color: white;
  border: none;
  padding: 0 24px;
  border-radius: 0 8px 8px 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
  font-family: "Montserrat", sans-serif;
}
.player__stats {
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  gap: 20px;
}
.container__player {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#playerName {
  font-family: "Ponomar", system-ui;
  font-weight: 600;
}
#player__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
#playerClub {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
#playerAge {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.player__info {
  padding-left: 20px;
}
.container__img {
  display: flex;
  align-items: center;
  padding-right: 30px;
  width: 150px;
}

.grid__info__player {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
}

.stat__card {
  background-color: rgba(236, 236, 236, 0.575);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.stat__value {
  font-size: 32px;
  font-weight: bold;
  color: #1e3c72;
  margin-bottom: 5px;
  font-family: "Ponomar", system-ui;
}

.stat__label {
  color: #000000;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 600px) {
  .search__input input {
    width: 300px;
    padding: 10px;
  }
  .search__button {
    padding: 0 14px;
  }
}
@media (max-width: 768px) {
  .grid__info__player {
    grid-template-columns: 1fr; 
  }

  .stat__value {
    font-size: 24px; 
  }

  .stat__label {
    font-size: 12px; /
  }
  .player__info {
    padding-left: 0px;
    
  }
  .container__img {
    margin-left: 30px;
  }
  #playerName{
    font-size: 28px;
    font-weight: 400;

  }

}
